mpi4py
numpy==1.26.4
pyside6==6.7.2
opencv-python==4.10.0.84
torch==2.4.0
torchvision==0.19.0
segment-anything==1.0
matplotlib==3.9.1.post1
scikit-image==0.24.0
tqdm==4.66.5
wget==3.2
SimpleITK==2.3.1